{% set image %}
  <img
    src="{{ "badge-premium-text.svg"|static_assets }}"
    alt="{{ __( 'Shoptet Premium partner', 'shp-partneri' ) }}"
    title="{{ __( 'Shoptet Premium partner', 'shp-partneri' ) }}"
    data-toggle="tooltip"
    height="150px"
    width="150px"
  >
{% endset %}

<div class="mb-4 text-center">
  {% if options.shoptetPremiumUrl %}
    <a href="{{ options.shoptetPremiumUrl }}" target="_blank">
      {{ image }}
    </a>
  {% else %}
    {{ image }}
  {% endif %}
</div>