<form class="filter mb-4 mb-md-0" id="professionalArchiveFilterForm" action="{{ term.link }}">
  <button
    class="btn btn-primary d-md-none"
    type="button"
    data-toggle="collapse"
    href="#filtersCollapse"
    role="button"
    aria-expanded="false"
    aria-controls="filtersCollapse"
  >
    {{ __( 'Zobrazit filtry', 'shp-partneri' ) }}
  </button>

  <div class="collapse d-md-block" id="filtersCollapse">
    <div class="mt-4 mt-md-0">

      <p class="h5 font-weight-bold mt-0 mb-2">
        {{ __( 'Kategorie', 'shp-partneri' ) }}
      </p>

      <ul class="list-unstyled mb-0">
        {% for t in terms if t.count %}
          <li>
            <a class="filter-link {% if t.id == term.id %}filter-link-active{% endif %}" href="{{ t.link}}">
              {{ t.name }}
              <span class="text-semilight">({{ t.count }})</span>
            </a>
          </li>
        {% endfor %}
      </ul>

      {% if regions_by_country is not empty %}
        <div class="border-top pt-4 mt-3">

          <p class="h5 font-weight-bold mt-0 mb-2">
            {{ __( 'Lokalita', 'shp-partneri' ) }}
          </p>

          {% for country_code, country in regions_by_country %}
            <p class="font-weight-bold my-2">{{ country.name }}</p>
            {% for region in country.regions %}
              <div class="form-check mb-0">
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="region[]"
                    value="{{ region.id }}"
                    {% if region.id in checked_regions %}
                      checked
                    {% endif %}
                  >
                  {{ region.name }}
                  <span class="text-semilight">({{ region.count }})</span>
                </label>
              </div>
            {% endfor %}
          {% endfor %}

        </div>
      {% endif %}

    </div>
  </div>
</form>