{% if post.get_field('price_per_hour_display') is not empty %}
  <div class="list-group-profile-item">
    <h2 class="h4">{{ __( 'Ceny', 'shp-partneri' ) }}</h2>

    {% if post|display_price %}
      <p class="mb-0">
        {{ post|display_price }}
      </p>
    {% endif %}

    {% if post.get_field('price_text') %}
      <p class="mt-2 mb-0 text-muted">
        {{ post.get_field('price_text') }}
      </p>
    {% endif %}
  </div>
{% elseif post.get_field('price') %}
  <div class="list-group-profile-item">
    <h2 class="h4">{{ __( 'Ceny', 'shp-partneri' ) }}</h2>

    <p class="mb-0">
      {{ post.get_field('price') }}
    </p>
  </div>
{% endif %}
