<a
  href="{{ post.link }}"
  class="profile-thumbnail mb-4"
  title="{{ __( 'Zobrazit profil', 'shp-partneri' ) }}"
  data-text="{{ post.title }}"
  id="{{ post.title }}"
>

  <div class="profile-thumbnail-badge">
    <ul class="list-inline">
      {% if post.get_field('isPremiumPartner') is not empty %}
        <li class="list-inline-item">
          <img src="{{ "badge-premium.svg"|static_assets }}" alt="{{ __( 'Shoptet Premium partner', 'shp-partneri' ) }}" title="{{ __( 'Shoptet Premium partner', 'shp-partneri' ) }}" data-toggle="tooltip" height="30px" width="30px">
        </li>
      {% endif %}
      {% if not options.hideBadges %}
        <li class="list-inline-item">
          <img
            {% if post.verifiedLevel == 'zlatý' %}
              src="{{ "medal-gold.png"|static_assets }}" alt="{{ __( 'Zlatý partner', 'shp-partneri' ) }}" title="{{ __( 'Zlatý partner', 'shp-partneri' ) }}"
            {% elseif post.verifiedLevel == 'stříbrný' %}
              src="{{ "medal-silver.png"|static_assets }}" alt="{{ __( 'Stříbrný partner', 'shp-partneri' ) }}" title="{{ __( 'Stříbrný partner', 'shp-partneri' ) }}"
            {% else %}
              src="{{ "medal-bronze.png"|static_assets }}" alt="{{ __( 'Bronzový partner', 'shp-partneri' ) }}" title="{{ __( 'Bronzový partner', 'shp-partneri' ) }}"
            {% endif %}
          data-toggle="tooltip" height="30px" width="30px">
        </li>
      {% endif %}
    </ul>
  </div>


  <div class="profile-thumbnail-wrapper">

    {% if post.thumbnail %}
      <img class="profile-thumbnail-image" src="{{ post.thumbnail.src|resize(150, 150) }}" alt="{{ post.title }}" width="75px" height="75px">
    {% endif %}

    <div class="profile-thumbnail-body text-truncate">

      <div class="profile-thumbnail-title text-truncate">
        {{ post.title }}
      </div>

      {% if show_rating and post.comments|length > 0 %}
        {% with { average_rating: post|average_rating } %}
          <div>
            {% include 'review-rating-stars.twig' with { rating: average_rating, size: 'small' } %}
          </div>
        {% endwith %}
      {% endif %}

      {% if post|display_price %}
        <div class="text-muted text-truncate">
          {{ post|display_price }}
        </div>
      {% endif %}

      {% if post.post_type == 'profesionalove' and post.get_field('url') %}
        <div class="text-muted text-truncate">
          {{ post.get_field('url')|display_url }}
        </div>
      {% endif %}

    </div>

  </div>

  {% if type != 'small' %}
    {% if post.get_field('description') %}
      <p class="profile-thumbnail-description mb-0">
        {{ post.get_field('description')|striptags|truncate(200, '') }}
      </p>
    {% endif %}
  {% endif %}

</a>
