<a
  href="{{ post.link }}"
  class="profile-thumbnail mb-4"
  title="{{ __( 'Zobrazit profil', 'shp-partneri' ) }}"
  itemscope
  itemtype="http://schema.org/Organization"
>

  {% if not options.hideBadges %}
    <div class="profile-thumbnail-badge">
      <img src="{{ "badge-premium.svg"|static_assets }}" alt="{{ __( 'Shoptet Premium partner', 'shp-partneri' ) }}" title="{{ __( 'Shoptet Premium partner', 'shp-partneri' ) }}" data-toggle="tooltip" height="30px" width="30px">
      <img
          {% if post.verifiedLevel == 'zlatý' %}
              src="{{ "medal-gold.png"|static_assets }}" alt="{{ __( 'Zlatý partner', 'shp-partneri' ) }}" title="{{ __( 'Zlatý partner', 'shp-partneri' ) }}"
          {% elseif post.verifiedLevel == 'stříbrný' %}
              src="{{ "medal-silver.png"|static_assets }}" alt="{{ __( 'Stříbrný partner', 'shp-partneri' ) }}" title="{{ __( 'Stříbrný partner', 'shp-partneri' ) }}"
          {% else %}
              src="{{ "medal-bronze.png"|static_assets }}" alt="{{ __( 'Bronzový partner', 'shp-partneri' ) }}" title="{{ __( 'Bronzový partner', 'shp-partneri' ) }}"
          {% endif %}
      data-toggle="tooltip" height="30px" width="30px">
    </div>
  {% endif %}


  <div class="profile-thumbnail-wrapper">

    {% if post.thumbnail %}
      <img class="profile-thumbnail-image" src="{{ post.thumbnail.src|resize(150, 150) }}" alt="{{ post.title }}" width="75px" height="75px">
    {% endif %}

    <div class="profile-thumbnail-body text-truncate">

      <div class="profile-thumbnail-title text-truncate" itemprop="name">
        {{ post.title }}
      </div>

      {% if show_rating and post.comments|length > 0 %}
        {% with { average_rating: post|average_rating } %}
          <div
            itemprop="aggregateRating"
            itemscope
            itemtype="http://schema.org/AggregateRating"
          >
            <meta itemprop="bestRating" content="5">
            <meta itemprop="worstRating" content="0">
            <meta itemprop="ratingValue" content="{{ average_rating }}">
            <meta itemprop="reviewCount" content="{{ post.comments|length }}">
            <span
              itemprop="itemReviewed"
              itemscope
              itemtype="http://schema.org/Organization"
            >
              <meta itemprop="name" content="{{ post.title }}">
            </span>
            {% include 'review-rating-stars.twig' with { rating: average_rating, size: 'small' } %}
          </div>
        {% endwith %}
      {% endif %}

      {% if post|display_price %}
        <div class="text-muted text-truncate">
          {{ post|display_price }}
        </div>
      {% endif %}

      {% if post.post_type == 'profesionalove' and post.get_field('url') %}
        <meta itemprop="url" content="{{ post.get_field('url')|ensure_protocol }}">
        <div class="text-muted text-truncate">
          {{ post.get_field('url')|display_url }}
        </div>
      {% endif %}

    </div>

  </div>

  {% if type != 'small' %}
    {% if post.get_field('description') %}
      <p class="profile-thumbnail-description mb-0" itemprop="description">
        {{ post.get_field('description')|striptags|truncate(200, '') }}
      </p>
    {% endif %}
  {% endif %}

</a>
