<span class="badge-hoder">
    {% if post.verifiedLevel == 'zlatý' %}
        <img src="{{ options.themeBadgesGoldImage.url }}" alt="{{ __( 'Zlatý partner', 'shp-partneri' ) }}" title="{{ __( 'Zlatý partner', 'shp-partneri' ) }}" data-toggle="tooltip" height="74px" width="350px" class="badge-verif mx-auto mx-lg-0 mb-4">
    {% elseif post.verifiedLevel == 'stříbrný' %}
        <img src="{{ options.themeBadgesSilverImage.url }}" alt="{{ __( 'Stříbrný partner', 'shp-partneri' ) }}" title="{{ __( 'Stříbrný partner', 'shp-partneri' ) }}" data-toggle="tooltip" height="74px" width="350px" class="badge-verif mx-auto mx-lg-0 mb-4">
    {% else %}
        <img src="{{ options.themeBadgesBronzeImage.url }}" alt="{{ __( 'Bronzový partner', 'shp-partneri' ) }}" title="{{ __( 'Bronzový partner', 'shp-partneri' ) }}" data-toggle="tooltip" height="74px" width="350px" class="badge-verif mx-auto mx-lg-0 mb-4">
    {% endif %}
</span>
