<a
  class="
    category-thumbnail

    {% if term.get_field('image') %}
      category-thumbnail-has-icon
    {% endif %}
  "
  href="{{ term.link }}"
  title="{{ __( 'Zobrazit profily v této kategorii', 'shp-partneri' ) }}"
>
  {% if term.get_field('image') %}
    <div class="category-thumbnail-icon">
      <svg data-src="{{ term.get_field('image').sizes.medium }}"></svg>
    </div>
  {% endif %}

  {{ term.name }}

  {# Number of items in the term #}
  <span
    class="category-thumbnail-count"
    title="{{ __( 'Počet profilů v této kategorii', 'shp-partneri' ) }}"
  >
    ({{ term.count }})
  </span>
</a>
