<div class="container py-5 mb-4">

  <div class="row">
    {% if terms is not empty %}
      <div class="col-12 col-md-4 col-lg-3">
        {% include 'request/filters.twig' %}
      </div>
    {% endif %}
    <div class="col-12 col-md-8 col-lg-9">

      {% if posts is not empty %}

        <div class="mb-4">

          <div class="d-md-flex justify-content-between mb-3">
            <h1 class="h2 mb-3 mb-md-0">
              {{ title }}
            </h1>
            <div class="ml-md-3">
              <a href="/nova-poptavka/" class="btn btn-primary">
                <i class="fas fa-plus-circle" aria-hidden="true"></i>
                {{ __( 'Přidat poptávku', 'shp-partneri' ) }}
              </a>
            </div>
          </div>

          <div class="mb-3">
            {% include 'breadcrumb.twig' %}
          </div>

          {% if description %}
            <p>{{ description }}</p>
          {% endif %}

          {% include 'request/order.twig' %}          

        </div>

        {% for post in posts %}
          {% include 'request/thumbnail.twig' %}
        {% endfor %}

        <div class="text-muted text-right mt-3">
          {{ __( 'Celkem %d z %d', 'shp-partneri' )|format( posts_count, posts_found ) }}
        </div>

			  {% include 'pagination.twig' with {class:'mt-3'} %}

      {% else %}

        <p class="h3 mb-2">
          {{ __( 'Nemůžeme najít žádné poptávky s těmito požadavky', 'shp-partneri' ) }}
        </p>
        <p>
          {{ __( 'Zkuste prosím vybrat jinou kategorii.', 'shp-partneri' ) }}
        </p>

      {% endif %}

    </div>
  </div>

</div>