<a
  class="request-thumbnail {% if size %}request-thumbnail-{{ size }}{% endif %}"
  href="{{ post.link }}"
  itemscope
	itemtype="http://schema.org/Demand"
  id="{{ post.title }}"
  data-text="{{ post.title }}"
>
  <div class="d-flex">

    <div class="request-thumbnail-icon">
      {% if post.terms is not empty %}
        <svg data-src="{{ post.terms.0.get_field('image').sizes.medium }}"></svg>
      {% endif %}
    </div>

    <div class="align-self-center">

      <div class="request-thumbnail-body">

        <div>
          <span class="request-thumbnail-title" itemprop="name">{{ post.title }}</span>
        </div>

        <ul class="request-thumbnail-meta list-inline list-inline-bullet text-muted">
          {% if post.terms is not empty %}
            <li class="list-inline-item font-weight-bold">
              {% for term in post.terms %}
                {{ term.name }}{% if not loop.last %},{% endif %}
              {% endfor %}
            </li>
          {% endif %}

          {% if post.author_name %}
            <li class="list-inline-item" title="{{ __( 'Zadavatel', 'shp-partneri' ) }}">{{ post.author_name|remove_lastname }}</span></li>
          {% endif %}

          {% if post.url %}
            <meta itemprop="url" content="{{ post.url|ensure_protocol }}">
          {% endif %}

          {% if post.date %}
            <li class="list-inline-item">
              <time datetime="{{ post.date|date('c') }}" title="{{ __( 'Zveřejnění', 'shp-partneri' ) }}">{{ post.date }}</time>
              {% if post.status == 'expired' %}
                ({{ __( 'Poptávka již byla vyřízena', 'shp-partneri' ) }})
              {% endif %}
            </li>
          {% endif %}
        </ul>

        {% if post.content %}
          <p class="request-thumbnail-content mb-0">
            {{ post.content|striptags|escape|truncate(300, '&hellip;') }}
          </p>
          <meta itemprop="description" content="{{ post.content|striptags|escape }}">
        {% endif %}

      </div>

    </div>

  </div>

</a>