<!DOCTYPE html>
<html class="no-js" {{ site.language_attributes }}>
	<head>
	  <meta charset="{{ site.charset }}">
	  <title>
	    {% if wp_title %}
	      {{ wp_title }} – {{ site.name }}
	    {% else %}
	      {{ site.name }} – {{ site.description }}
	    {% endif %}
	  </title>
	  <meta name="description" content="{{ meta_description|striptags|truncate(1000, '&hellip;') }}">
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="preload" href="{{ "NHaasGroteskDSPro-35XLt.otf"|static_assets }}" as="font" crossOrigin="" />
		<link rel="preload" href="{{ "NHaasGroteskDSPro-55Rg.otf"|static_assets }}" as="font" crossOrigin="" />
		<link rel="preload" href="{{ "NHaasGroteskDSPro-65Md.otf"|static_assets }}" as="font" crossOrigin="" />

	  {% include "favicon.twig" %}

		{% block head %}
			<link rel="canonical" href="{{ site.url }}">

			<meta property="og:url" content="{{ site.url }}">
			<meta property="og:type" content="website">
		{% endblock %}



{% if post.thumbnail.src is not empty %}
			<meta property="og:image" content="{{ post.thumbnail.src }}">
{% else %}
	 {% if options.themeOpenGraphImage %}
			<meta property="og:image" content="{{ options.themeOpenGraphImage.url }}">
	 {% endif %}
{% endif %}



		<meta property="og:title" content="{% if wp_title %}{{ wp_title }} – {{ site.name }}{% else %}{{ site.name }} – {{ site.description }}{% endif %}">
		<meta property="og:description" content="{{ meta_description|striptags }}">
		<meta property="og:locale" content="cs_CZ">

	  {{ function('wp_head') }}

	  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	  <!--[if lt IE 9]>
	    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	  <![endif]-->

	</head>

	<body class="{{ body_class }}">

		{# Web Font Loader #}
		{#
	  <script type="text/javascript">
	  	WebFontConfig = {
	      google: { families: ['Source+Sans+Pro:300,400,600&amp;subset=latin-ext'] },
	  	};
	  	(function() {
	  		var wf = document.createElement('script');
	  		wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
	  		wf.type = 'text/javascript';
	  		wf.async = 'true';
	  		var s = document.getElementsByTagName('script')[0];
	  		s.parentNode.insertBefore(wf, s);
	  	})();
	  </script>
		#}
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&amp;subset=latin-ext" rel="stylesheet">

		{# Load Facebook SDK for JavaScript #}
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = 'https://connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v2.10';
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

		{% block header %}
			{% include 'go-to-shoptet.twig' %}
			{% include 'header.twig' %}
		{% endblock %}

		{% block breadcrumb %}
		{% endblock %}

		<main role="main">
			{% block content %}
				Žádný obsah
			{% endblock %}
		</main>

		{% include 'footer.twig' %}

		{{ function('wp_footer') }}

		{% block footer %}
			{{ footer }}
		{% endblock %}

		{% block footer_script %}
		{% endblock %}

	</body>
</html>
