<header class="header" role="banner">
	<div class="container">
		<div class="header-inner" itemscope itemtype="https://schema.org/WebSite">

			<meta itemprop="headline" content="
				{% if wp_title %}
					{{ wp_title }}, {{ site.name }}
				{% else %}
					{{ site.name }}, {{ site.description }}
				{% endif %}
			">

			<meta itemprop="url" content="{{ site.url }}">
			<meta itemprop="text" content="{{ meta_description|striptags }}">

			<a
				class="header-logo"
				href="{{ site.url }}"
				title="{{ __( 'Zpět na domovskou stránku', 'shp-partneri' ) }}"
			>
				<img
					src="{{ logo_url ?: "shoptet-logo.svg"|static_assets }}"
					alt="{{ __( 'Shoptet Partneři', 'shp-partneri' ) }}"
				>
			</a>

			<form
				class="header-search"
				action="{{ site.url }}"
				role="search"
				itemprop="potentialAction"
				itemscope
				itemtype="http://schema.org/SearchAction"
			>
				<meta itemprop="target" content="?s={s}">
				<div class="input-group">
					<input
						type="search"
						class="form-control border-right-0"
						name="s"
						value="{{ query }}"
						placeholder="{{ __( 'Zadejte hledaný výraz...', 'shp-partneri' ) }}"
						autocomplete="off"
						required
						itemprop="query-input"
					>
					<span class="input-group-btn">
						<button class="btn btn-input border-left-0 px-2" type="submit">
							<i class="fas fa-search" aria-hidden="true"></i>
						</button>
					</span>
				</div>
			</form>

			{% if not hide_header_action %}

				<div class="header-action">
					<a href="/nova-poptavka/" class="btn btn-primary">
						<i class="fas fa-plus-circle" aria-hidden="true"></i> 
						{{ __( 'Přidat poptávku', 'shp-partneri' ) }}
					</a>
				</div>

			{% endif %}

		</div>
	</div>
</header>

<div id="navigation">
    <div class="container">
        <div id="shp_navigation_wrapper" class="responsive-nav">
           <ul id="shp_navigation" class="visible-links">
               <li class="has-dropdown shp_menu-item"><a href="/{{ __( 'profesionalove', 'shp-partneri' ) }}/" class="shp_menu-item-link">{{ __( 'Profesionálové', 'shp-partneri' ) }}</a><span class="caret dropdown-toggle" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                    <ul class="shp_navigation-submenu dropdown-menu dropdown-menu-right" aria-labelledby="categoriesDropdown">
                      {% for term in all_categories %}
                        <li class="shp_menu-item"><a href="{{ term.link }}" class="shp_menu-item-link">
                          {{ term.name }}
                        </a></li>
                      {% endfor %}
                    </ul>
                </li>
                {% for item in header_menu.items %}
									<li class="{% if item.get_children %}has-dropdown{% endif %} shp_menu-item"><a href="{{ item.link }}" class="shp_menu-item-link">{{ item.title }}</a>{% if item.get_children %}<span class="caret dropdown-toggle" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>{% endif %}
											{% if item.get_children %}
												<ul class="shp_navigation-submenu dropdown-menu dropdown-menu-right" aria-labelledby="categoriesDropdown">
													{% for item in item.get_children %}
														<li class="shp_menu-item"><a href="{{ item.link }}" class="shp_menu-item-link">
															{{ item.title }}
														</a></li>
													{% endfor %}
												</ul>
											{% endif %}
									</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
