{% extends "base.twig" %}

{% block content %}

	<div class="hero-alt">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-5 col-lg-7 order-md-2">
					<div class="hero-alt-img">
						<img src="{{ "partners-hero.svg"|static_assets }}" alt="">
					</div>
				</div>
				<div class="col-12 col-md-7 col-lg-5 align-self-center">
					<div class="hero-alt-body">
						{{ hero_text|apply_shortcodes }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="quote-section">
		<div class="container">
			<div class="quote-section-container">
				<img class="quote-section-icon" src="{{ "quote.svg"|static_assets }}" alt="">
				<div class="quote-section-body">
					<p class="quote-section-title display">{{ options.quoteSectionTitle }}</p>
					<p class="mb-0 lh-125"><em><strong class="fs-120">Eva Šlezáková</strong><br>Partnership Teamleader</em></p>
				</div>
				<img class="quote-section-image" src="{{ "eva.png"|static_assets }}" alt="Eva Šlezáková">
			</div>
		</div>
	</div>

	{% if show_category_professionals %}
		<div class="row-profile-type row-profile-type-professionals">
			<div class="container">
				<div class="mb-5 text-center">
					{{ options.professionalsSectionBody }}
				</div>
				{% include 'category/list.twig' with {'terms': category_professionals} %}
			</div>
		</div>
	{% endif %}

	{% if not options.hideBadges %}
		<div class="container">
			<h2 class="mb-4">{{ options.themeBadgesTitle }}</h2>
			{% include 'row-badges.twig' %}
		</div>
	{% endif %}

	{% if recent_request_posts is not empty %}
		<div class="row-profile-type row-profile-type-requests">
			<div class="container">

				<div class="row-profile-type-header">

					<h2 class="row-profile-type-title"><a href="{{ link.request.archive }}">{{ __( 'Nové poptávky', 'shp-partneri' ) }}</a></h2>

					<p class="mb-5">
						{{ __( 'Víte, co potřebujete, ale nechce se vám hledat konkrétního Shoptet Partnera? Zadejte si poptávku zdarma a jen čekejte na první nabídky.', 'shp-partneri' ) }}
					</p>

				</div>

				{% for post in recent_request_posts %}
					{% include 'request/thumbnail.twig' with {size:"lg"} %}
				{% endfor %}

				<ul class="list-inline mt-3 text-center text-sm-right">
					<li class="list-inline-item mt-2">
						<a href="{{ link.request.archive }}" class="btn btn-link">
							{{ __( 'Prohlédnout poptávky', 'shp-partneri' ) }}
						</a>
					</li>
					<li class="list-inline-item mt-2">
						<a href="/nova-poptavka/" class="btn btn-primary">
							{{ __( 'Vložit vlastní poptávku', 'shp-partneri' ) }}
						</a>
					</li>
				</ul>

			</div>

		</div>
	{% endif %}

	{% if show_category_plugins %}
		<div class="row-profile-type row-profile-type-plugins">
			<div class="container">

				<div class="row-profile-type-header">
					<h2 class="row-profile-type-title"><a href="napojeni/">Napojení</a></h2>

					{% if options.perexPlugin %}
						<div class="row-profile-type-perex">
							{{ options.perexPlugin }}
						</div>
					{% endif %}
				</div>

				{% include 'category/list.twig' with {'terms': category_plugins} %}

			</div>
		</div>
	{% endif %}

	{% if show_category_tools %}
		<div class="row-profile-type row-profile-type-tools">
			<div class="container">

				<div class="row-profile-type-header">
					<h2 class="row-profile-type-title"><a href="nastroje/">Nástroje</a></h2>

					{% if options.perexTool %}
						<div class="row-profile-type-perex">
							{{ options.perexTool }}
						</div>
					{% endif %}
				</div>

				{% include 'category/list.twig' with {'terms': category_tools} %}

			</div>
		</div>
	{% endif %}

	<div class="row-profile-type">
			<div class="container">
				<h2 class="mb-4">{{ __( 'Nejnovější Shoptet Partneři', 'shp-partneri' ) }}</h2>
				{% include 'profile/list.twig' with {'posts': newest_posts, 'hide_cta': true} %}
			</div>
	</div>

	{% include 'row-reference.twig' %}

	{% if locale == 'cs_CZ' %}
		{% include 'row-webinars.twig' %}
	{% endif %}

	{% include 'row-contact.twig' %} 

{% endblock %}
