{% extends "base.twig" %}

{% block head %}
  {{ parent() }}
  {{ function('acf_form_head') }}
{% endblock %}

{% block breadcrumb %}
	<div class="row-breadcrumb row-breadcrumb-bg">
		<div class="container">
			{% include 'breadcrumb.twig' %}
		</div>
	</div>
{% endblock %}

{% block content %}
  <div class="bg-blue-light request-form">
    <div class="container pb-5">

      <div class="row">
        <div class="col-lg-1 col-xl-2"></div>
        <div class="col-lg-10 col-xl-8">

          <div class="list-group-profile">
            <div class="list-group-profile-item">
            
              {% if submited %}
                <div class="alert alert-success">
                  <strong>Poptávka úspěšně odeslána.</strong> Vyčkejte prosím na její schválení.
                </div>
              {% endif %}

              <h1 class="h2 mb-3">
                {{ __( 'Nová poptávka', 'shp-partneri' ) }}
              </h1>

              <p>
                Popište srozumitelně o jaké služby Shoptet Partnerů byste měli zájem.
                My vaši poptávku zkontrolujeme, pokud bude třeba, tak s vámi doladíme
                a po jejím schválení ji rozešleme všem partnerům z dané kategorie.
                Po 24 hodinách po tomto schálení se zobrazí i na tomto webu.
              </p>

              <form
                id="{{ acf_form_args.id }}"
                class="acf-form"
                action=""
                method="post"
                autocomplete="off"
              >

                {{ function('acf_form', acf_form_args.top) }}

                {{ function('acf_form', acf_form_args.bottom) }}

                <div>
                  <input type="checkbox" id="defaultCheck1" required>
                  <label class="required" for="defaultCheck1">
                    {{
                      __(
                        'Souhlasím se <a href="%s" target="_blank">zpracováním osobních údajů</a>',
                        'shp-obchodiste'
                      )|format('https://www.shoptet.cz/podminky-ochrany-osobnich-udaju/')
                    }}
                    <span class="acf-required">*</span>
                  </label>
                </div>

                <div class="g-recaptcha g-recaptcha-required mt-2" data-sitekey="{{ config.G_RECAPTCHA_SITE_KEY }}"></div>

                <div class="mt-3">
                  <button
                    type="submit"
                    class="btn btn-primary btn-lg"
                  >
                    {{ __( 'Odeslat poptávku', 'shp-obchodiste' ) }}
                  </button>
                </div>

              </form>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
{% endblock %}