{% extends "base.twig" %}

{% block head %}
  {{ parent() }}
  {{ function('acf_form_head') }}
{% endblock %}

{% block header %}
  <div class="container text-center py-4">
    <img
      class="img-fluid"
      src="{{ "shoptet-partneri-logo.svg"|static_assets }}"
      alt="{{ __( 'Shoptet Partneři', 'shp-partneri' ) }}"
      width="280"
    >
  </div>
{% endblock %}

{% block content %}
  <div class="bg-blue-light onboarding">
    <div class="container py-5">

      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">

          <div class="list-group-profile">
            <div class="list-group-profile-item">

              <h1 class="h2 mb-4">
                {{ __( 'Vyplňte svůj medailonek', 'shp-partneri' ) }}
              </h1>

              <div class="border-bottom pb-2">{{ options.onboarding_description }}</div>

              <ul class="list-unstyled mt-4 mb-3">
                <li class="mb-2">
                  <strong>{{ __( 'Vaše jméno:', 'shp-partneri' ) }}</strong>
                  {{ post.title }}
                </li>
                <li>
                  <strong>{{ __( 'Váš e-mail:', 'shp-partneri' ) }}</strong>
                  {{ post.get_field('emailAddress') }}
                </li>
              </ul>

              {{ function('acf_form', acf_form_args) }}

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block footer %}
  <div class="container text-center py-5">
    <img
      class="img-fluid"
      src="{{ "shoptet-logo.svg"|static_assets }}"
      alt="{{ __( 'Shoptet', 'shp-partneri' ) }}"
      width="150"
    >
  </div>
{% endblock %}

{% block footer_script %}
  <script>
    (function(d) {
      var imageInput = d.getElementById('acf-field_5d10c3f29b87b');
      var imageFileTypes = [ 'image/jpeg', 'image/png', 'image/gif' ];
      var maxFileSize = 5; // MB
      var minWidth = 400;
      var minHeight = 400;

      var handleError = function( error ) {
        imageInput.value = '';
        alert( error );
      };

      var validateFileSize = function( error, file ) {
        if ( error ) return error;
        var maxFileSizeBytes = maxFileSize * 1024 * 1024;
        if( file.size > maxFileSizeBytes ) {
          error = 'Nahrajte prosím soubor menší než ' + maxFileSize + ' MB.';
        }
        return error;
      };

      var validateFileType = function( error, file ) {
        if ( error ) return error;
        if( ! imageFileTypes.includes( file.type )  ) {
          error = 'Nahrajte prosím obrázek ve formátu jpg, png nebo gif.';
        }
        return error;
      };

      var handleImageDimensionsValidation = function() {
        if ( this.width < minWidth || this.height < minHeight ) {
          handleError( 'Nahrajte prosím obrázek s minimálními rozměry ' + minWidth + ' x ' + minHeight + ' px.' );
        }
        imageInput.disabled = false;
      };

      var validateImageDimensions = function( imageFile ) {
        var fr = new FileReader;
        fr.onload = function() {
          var img = new Image;
          img.onload = handleImageDimensionsValidation;
          img.src = fr.result;
        };
        imageInput.disabled = true;
        fr.readAsDataURL( imageFile );
      };

      imageInput.onchange = function() {
        if( ! imageInput.files.length > 0 ) return;

        var file = imageInput.files[0];
        var error = false;

        error = validateFileType( error, file );
        error = validateFileSize( error, file );

        if( error ) {
          handleError( error );
          return;
        }
        
        validateImageDimensions( file );
      };

    }(document));
  </script>
{% endblock %}