
<form class="review-form" method="post" action="{{ site.site_url~'/wp-comments-post.php' }}">

  <h2>{{ __('Přidat recenzi', 'shp-partneri') }}</h2>

  <input type="hidden" name="comment_post_ID" value="{{ post.id }}">
  <input name="comment_parent" id="comment_parent" value="{{ comment.ID|default('0') }}" type="hidden">

  <div class="comment-form-container">

    <div class="form-row">

      <div class="form-group col-md-4 required">
        <label class="sr-only" for="commentAuthor">{{ __('Jméno', 'shp-partneri') }}</label>
        <input class="form-control" id="commentAuthor" type="text" name="author" placeholder="{{ __('Jméno', 'shp-partneri') }}" required>
      </div>

      <div class="form-group col-md-4 required">
        <label class="sr-only" for="commentEmail">{{ __('E-mail', 'shp-partneri') }}</label>
        <input class="form-control" id="commentEmail" type="email" name="email" placeholder="{{ __('E-mail', 'shp-partneri') }}" aria-describedby="emailHelp" required>
        <small id="emailHelp" class="text-muted">
          {{ __('Váš e-mail nebude zobrazen. Slouží pro zaslání odkazu pro potvrzení příspěvku.', 'shp-partneri') }}
        </small>
      </div>

      <div class="form-group col-md-4 required">
        <label class="sr-only" for="commentUrl">{{ __('URL vašeho e-shopu', 'shp-partneri') }}</label>
        <input class="form-control" id="commentUrl" type="url" name="url" placeholder="{{ __('URL vašeho e-shopu', 'shp-partneri') }}" required>
      </div>

    </div>
  </div>

  <div class="form-group required">
    <label class="sr-only" for="commentMessage">{{ __('Hodnocení', 'shp-partneri') }}</label>
    <textarea class="form-control" id="commentMessage" name="comment" rows="3" placeholder="{{ __('Jak jste byli se Shoptet partnerem spokojeni?', 'shp-partneri') }}" required></textarea>
  </div>

  {% if not comment %}
    <div class="rating-stars">
      <label>
        <input type="radio" name="rating" value="1" required>
        1 hvězdička
      </label>
      <label>
        <input type="radio" name="rating" value="2">
        2 hvězdičky
      </label>
      <label>
        <input type="radio" name="rating" value="3">
        3 hvězdičky
      </label>
      <label>
        <input type="radio" name="rating" value="4">
        4 hvězdiček
      </label>
      <label>
        <input type="radio" name="rating" value="5">
        5 hvězdiček
      </label>
    </div>
  {% endif %}

  <button class="btn btn-primary" type="submit">{{ __('Odeslat recenzi', 'shp-partneri') }}</button>

</form>
