{% if pagination.total > 1 %}
  <nav aria-label="{{ __( 'Stránkování komentářů', 'shp-partneri' ) }}">
    <ul class="pagination justify-content-center mt-3 mb-0">

      {% if pagination.prev %}
        <li class="page-item ">
          {% if not pagination.prev %}
            <span class="page-link">{{ __( 'Předchozí', 'shp-partneri' ) }}</span>
          {% else %}
            <a class="page-link" href="{{pagination.prev.link}}">{{ __( 'Předchozí', 'shp-partneri' ) }}</a>
          {% endif %}
        </li>
      {% endif %}

      {% for page in pagination.pages %}
        {% if not page.current %}
          <li class="page-item">
            <a class="page-link" href="{{page.link}}">
              {{page.title}}
            </a>
          </li>
        {% else %}
          <li class="page-item active">
            <span class="page-link">
              {{page.title}} <span class="sr-only">{{ __( '(nyní)', 'shp-partneri' ) }}</span>
            </span>
          </li>
        {% endif %}
      {% endfor %}

      {% if pagination.next %}
        <li class="page-item">
          {% if not pagination.next %}
            <span class="page-link">{{ __( 'Další', 'shp-partneri' ) }}</span>
          {% else %}
            <a class="page-link" href="{{pagination.next.link}}">{{ __( 'Další', 'shp-partneri' ) }}</a>
          {% endif %}
        </li>
      {% endif %}

    </ul>
  </nav>
{% endif %}
