
<form class="review-form" method="post" action="{{ site.site_url~'/wp-comments-post.php' }}">

  <input type="hidden" name="comment_post_ID" value="{{ post.id }}">
  <input name="comment_parent" id="comment_parent" value="{{ comment.ID|default('0') }}" type="hidden">

  <div class="comment-form-container">

    <div class="form-row">

      <div class="form-group col-md-4 required">
        <label class="sr-only" for="commentAuthor{{ comment.ID }}">{{ __('Jméno', 'shp-partneri') }}</label>
        <input class="form-control" id="commentAuthor{{ comment.ID }}" type="text" name="author" placeholder="{{ __('Jméno', 'shp-partneri') }}" required>
      </div>

      <div class="form-group col-md-4 required">
        <label class="sr-only" for="commentEmail{{ comment.ID }}">{{ __('E-mail', 'shp-partneri') }}</label>
        <input class="form-control" id="commentEmail{{ comment.ID }}" type="email" name="email" placeholder="{{ __('E-mail', 'shp-partneri') }}" aria-describedby="emailHelp" required>
        <p id="emailHelp" class="fs-70 text-muted mt-1 mb-0 lh-125">
          {{ __('Váš e-mail nebude zobrazen. Slouží pro zaslání odkazu pro potvrzení příspěvku.', 'shp-partneri') }}
        </p>
      </div>

      <div class="form-group col-md-4 required">
        <label class="sr-only" for="commentUrl{{ comment.ID }}">{% if not comment %}{{ __('URL vašeho e-shopu', 'shp-partneri') }}{% else %}{{ __('URL vašeho webu', 'shp-partneri') }}{% endif %}</label>
        <input
          class="form-control"
          id="commentUrl{{ comment.ID }}"
          type="text"
          name="url"
          placeholder="{% if not comment %}{{ __('URL vašeho e-shopu', 'shp-partneri') }}{% else %}{{ __('URL vašeho webu', 'shp-partneri') }}{% endif %}"
          required
          pattern="^(https?://)?([a-zA-Z0-9]([a-zA-ZäöüÄÖÜ0-9\-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6}$"
        >
      </div>

    </div>
  </div>

  <div class="form-group required">
    <label class="sr-only" for="commentMessage{{ comment.ID }}">{{ __('Zpráva', 'shp-partneri') }}</label>
    <textarea
      class="form-control"
      id="commentMessage{{ comment.ID }}"
      name="comment"
      rows="5"
      placeholder="{% if not comment %}{{ __('Jak jste byli se Shoptet partnerem spokojeni?', 'shp-partneri') }}{% else %}{{ __('Napište vaši reakci na hodnocení', 'shp-partneri') }}{% endif %}"
      required
    ></textarea>
  </div>

  {% if not comment %}
    <div class="mb-3">
      <div class="review-rating-stars-form review-rating-stars-large">
        <label>
          <input type="radio" name="rating" value="1" required>
           <svg data-src="{{ "star-solid.svg"|static_assets }}" role="img" aria-label="{{ __('Hvězdička', 'shp-partneri') }}"></svg>
        </label>
        <label>
          <input type="radio" name="rating" value="2">
          <svg data-src="{{ "star-solid.svg"|static_assets }}" role="img" aria-label="{{ __('Hvězdička', 'shp-partneri') }}"></svg>
          <svg data-src="{{ "star-solid.svg"|static_assets }}" role="img" aria-label="{{ __('Hvězdička', 'shp-partneri') }}"></svg>
        </label>
        <label>
          <input type="radio" name="rating" value="3">
          <svg data-src="{{ "star-solid.svg"|static_assets }}" role="img" aria-label="{{ __('Hvězdička', 'shp-partneri') }}"></svg>
          <svg data-src="{{ "star-solid.svg"|static_assets }}" role="img" aria-label="{{ __('Hvězdička', 'shp-partneri') }}"></svg>
          <svg data-src="{{ "star-solid.svg"|static_assets }}" role="img" aria-label="{{ __('Hvězdička', 'shp-partneri') }}"></svg>
        </label>
        <label>
          <input type="radio" name="rating" value="4">
          <svg data-src="{{ "star-solid.svg"|static_assets }}" role="img" aria-label="{{ __('Hvězdička', 'shp-partneri') }}"></svg>
          <svg data-src="{{ "star-solid.svg"|static_assets }}" role="img" aria-label="{{ __('Hvězdička', 'shp-partneri') }}"></svg>
          <svg data-src="{{ "star-solid.svg"|static_assets }}" role="img" aria-label="{{ __('Hvězdička', 'shp-partneri') }}"></svg>
          <svg data-src="{{ "star-solid.svg"|static_assets }}" role="img" aria-label="{{ __('Hvězdička', 'shp-partneri') }}"></svg>
        </label>
        <label>
          <input type="radio" name="rating" value="5">
          <svg data-src="{{ "star-solid.svg"|static_assets }}" role="img" aria-label="{{ __('Hvězdička', 'shp-partneri') }}"></svg>
          <svg data-src="{{ "star-solid.svg"|static_assets }}" role="img" aria-label="{{ __('Hvězdička', 'shp-partneri') }}"></svg>
          <svg data-src="{{ "star-solid.svg"|static_assets }}" role="img" aria-label="{{ __('Hvězdička', 'shp-partneri') }}"></svg>
          <svg data-src="{{ "star-solid.svg"|static_assets }}" role="img" aria-label="{{ __('Hvězdička', 'shp-partneri') }}"></svg>
          <svg data-src="{{ "star-solid.svg"|static_assets }}" role="img" aria-label="{{ __('Hvězdička', 'shp-partneri') }}"></svg>
        </label>
      </div>
    </div>
  {% endif %}

  <button class="btn btn-green" type="submit">{{ __('Odeslat hodnocení', 'shp-partneri') }}</button>

</form>
