
<div class="row-badges">
  <div class="row mb-4">
    <div class="col-sm-auto mb-sm-4 col-md-6 col-lg-4">
      <span class="badge-hoder">
          <img class="w-100" src="{{ "medal-shoptetrix-gold.png"|static_assets }}" alt="Zlatý partner">
          <span class="badge-text badge-text-gold"><span>{{ __( 'Zlatý Shoptet <br>partner', 'shp-partneri' ) }}</span></span>
      </span>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8">
      <h3 class="h5"><strong>{{ __( 'Zlatý partner', 'shp-partneri' ) }}</strong></h3>
      <p>{{ options.themeBadgesGoldText }}</p>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-sm-auto mb-sm-4 col-md-6 col-lg-4">
      <span class="badge-hoder">
          <img class="w-100" src="{{ "medal-shoptetrix-silver.png"|static_assets }}" alt="Stříbrný partner">
          <span class="badge-text badge-text-silver"><span>{{ __( 'Stříbrný Shoptet <br>partner', 'shp-partneri' ) }}</span></span>
      </span>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8">
      <h3 class="h5"><strong>{{ __( 'Stříbrný partner', 'shp-partneri' ) }}</strong></h3>
      <p>{{ options.themeBadgesSilverText }}</p>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-sm-auto mb-sm-4 col-md-6 col-lg-4">
      <span class="badge-hoder">
          <img class="w-100" src="{{ "medal-shoptetrix-bronze.png"|static_assets }}" alt="Bronzový partner">
          <span class="badge-text badge-text-bronze"><span>{{ __( 'Bronzový Shoptet <br>partner', 'shp-partneri' ) }}</span></span>
      </span>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8">
      <h3 class="h5"><strong>{{ __( 'Bronzový partner', 'shp-partneri' ) }}</strong></h3>
      <p>{{ options.themeBadgesBronzeText }}</p>
    </div>
  </div>
</div>
