
  <div class="row-badges row-breadcrumb-bg pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-8">
                <h2 class="mb-4">{{ options.themeBecomePartnerTitle }}</h2>
                <p>{{ options.themeBecomePartnerContent }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 col-lg-4 pl-lg-5">
                <img
                    class="w-100"
                    src="{{ options.themeBecomePartnerImage.sizes.large }}"
                    alt="Shoptet partnerem - ilustrační foto"
                >
            </div>
        </div>
            <!--<div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <a
                        class="btn btn-primary m-auto"
                        href="mailto:{{ options.themeCtaMailAddress }}?subject={{ options.themeCtaMailSubject }}&body={{ options.themeCtaMailBody|replace({'<br />':'%0D%0A'}) }}"
                      >
                        {{ options.themeBecomePartnerButtonText }}
                      </a>
                </div>
            </div>-->
    </div>
  </div>
