
<div class="row-badges mt-5">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12">
        <h2>{{ options.themeBadgesTitle }}</h2>
        <!--<p>{{ options.themeBadgesContent }}</p>-->
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-sm-auto mb-sm-4 col-md-6 col-lg-4">
        <span class="badge-hoder">
            <img class="w-100" src="{{ "medal-shoptetrix-gold.png"|static_assets }}" alt="Zlatý partner">
            <span class="badge-text badge-text-gold"><span>Zlatý Shoptet <br>partner</span></span>
        </span>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-8">
        <h3 class="h5"><strong>Zlatý partner</strong></h3>
        <p>{{ options.themeBadgesGoldText }}</p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-sm-auto mb-sm-4 col-md-6 col-lg-4">
        <span class="badge-hoder">
            <img class="w-100" src="{{ "medal-shoptetrix-silver.png"|static_assets }}" alt="Stříbrný partner">
            <span class="badge-text badge-text-silver"><span>Stříbrný Shoptet <br>partner</span></span>
        </span>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-8">
        <h3 class="h5"><strong>Stříbrný partner</strong></h3>
        <p>{{ options.themeBadgesSilverText }}</p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-sm-auto mb-sm-4 col-md-6 col-lg-4">
        <span class="badge-hoder">
            <img class="w-100" src="{{ "medal-shoptetrix-bronze.png"|static_assets }}" alt="Bronzový partner">
            <span class="badge-text badge-text-bronze"><span>Bronzový Shoptet <br>partner</span></span>
        </span>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-8">
        <h3 class="h5"><strong>Bronzový partner</strong></h3>
        <p>{{ options.themeBadgesBronzeText }}</p>
      </div>
    </div>
  </div>
</div>
