<p class="h2">
  {{ options.themeCtaTitle }}
</p>

<p class="pt-2 pb-2">
  {{ options.themeCtaContent }}
</p>

<a
  class="btn btn-primary ws-normal"
  href="mailto:{{ options.themeCtaMailAddress }}?subject={{ options.themeCtaMailSubject }}&body={{ options.themeCtaMailBody|replace({'<br />':'%0D%0A'}) }}"
>
  {{ options.themeCtaButtonText }}
</a>
