<div class="row-badges row-breadcrumb-bg pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h2>{{ __( 'Kontakt', 'shp-partneri' ) }}</h2>
                {{ options.themeComplaintContactText }}
            </div>
            <div class="col-sm-12 col-md-6">
                {% if read_only_enabled %}
                    {% do action('read_only_fallback') %}
                {% else %}
                    
                    <form id="contactForm" method="post" data-action="onboarding_contact">

                        <input type="hidden" name="action" value="contact_form">

                        <div class="form-group">
                            <label class="sr-only" for="contactFormName">
                                {{ __( 'Jméno a příjmení', 'shp-partneri' ) }}
                            </label>
                            <input type="text" name="name" class="form-control" id="contactFormName" placeholder="{{ __( 'Vaše jméno', 'shp-partneri' ) }}" required>
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="contactFormEmail">
                                {{ __( 'E-mail', 'shp-partneri' ) }}
                            </label>
                            <input type="email" name="email" class="form-control" id="contactFormEmail" placeholder="{{ __( 'Váš e-mail', 'shp-partneri' ) }}" required>
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="contactFormMessage">
                                {{ __( 'Vaše zpráva', 'shp-partneri' ) }}
                            </label>
                            <textarea class="form-control" name="message" rows="10" id="contactFormMessage" placeholder="{{ __( 'Vaše zpráva', 'shp-partneri' ) }}" required></textarea>
                        </div>

                        <p>{{ __( 'Vložením e-mailu souhlasíte s <a href="https://www.shoptet.cz/podminky-ochrany-osobnich-udaju/" target="_blank">podmínkami ochrany osobních údajů</a>', 'shp-partneri' ) }}</p>

                        <div class="g-recaptcha mb-3" data-sitekey="{{ config.G_RECAPTCHA_SITE_KEY }}"></div>

                        <p class="text-danger d-none" id="contactFormError"></p>

                        <p class="text-success form-control-plaintext font-weight-bold d-none fs-120" id="contactFormSuccess"></p>

                        <button type="submit" class="btn btn-primary">
                            {{ __( 'Odeslat', 'shp-partneri' ) }}
                        </button>

                    </form>

                {% endif %}
            </div>
        </div>
    </div>
</div>
