{% extends "base.twig" %}

{% set show_sidebar = related_partners or post.meta('related_addons') or related_blog_posts %}

{% block head %}
	<link rel="canonical" href="{{ post.link }}">
	<meta property="og:url" content="{{ post.link }}">
{% endblock %}

{% block content %}
<div class="row-profile">
	<div class="container">

		<div class="row">
			<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0" style="justify-content: center">
				{% include 'user/sidebar.twig' %}
			</div>
			<div class="col-12 col-md-8">

				<div class="list-group-profile">

					<div class="list-group-profile-item p-0" style="overflow:hidden">
						<div class="embed-responsive embed-responsive-16by9 bg-light">
							<iframe width="560" height="315" src="https://player.vimeo.com/video/{{ post.meta('external_id') }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
						</div>
					</div>

					<div class="list-group-profile-item mt-0">
						<h1 class="h2 mb-0">{{ post.title }}</h1>

						{% if post.terms is not empty %}
							<div class="mt-3 text-muted">
								{{ __('Webinář pro partnery v kategorii <a href="%s">%s</a>', 'shp-partneri')|format(post.terms.0.link, post.terms.0.name) }}
							</div>
						{% endif %}
					</div>

					{% if post.content %}
						<div class="list-group-profile-item">
							<h2 class="h4 mt-4">{{ __('Popis webináře', 'shp-partneri') }}</h2>
							{{ post.content }}
						</div>
					{% endif %}

				</div>
		</div>
	</div>
</div>

{% if related_posts|length > 0 %}
	<div class="row-profile-list">
		<div class="container">
			<h2 class="row-profile-list-title">{{ __( 'Podobné webináře pro partnery', 'shp-partneri' ) }}</h2>
			<div class="row small-gutters">
				{% for post in related_posts[:4] %}
					<div class="col-12 col-md-6 col-lg-4 col-xl-3">
						{% include 'course/thumbnail.twig' %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}

{% endblock %}
