{% extends "base.twig" %}

{% block head %}
	<link rel="canonical" href="{{ post.link }}">
	<meta property="og:url" content="{{ post.link }}">
{% endblock %}

{% block breadcrumb %}
	<div class="row-breadcrumb row-breadcrumb-bg">
		<div class="container">
			{% include 'breadcrumb.twig' %}
		</div>
	</div>
{% endblock %}

{% block content %}

<div class="row-profile row-profile-breadcrumb" >
	<div class="container">

		<div class="row">
			<div class="col-lg-8">

				<div class="list-group-profile">

					<div class="list-group-profile-item p-0" style="overflow:hidden">
						<div class="embed-responsive embed-responsive-16by9 bg-light">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ post.meta('external_id') }}?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
						</div>
					</div>

					<div class="list-group-profile-item mt-0">
						<h1 class="h2 mb-0">{{ post.title }}</h1>
						{% if post.terms is not empty %}
							<div class="mt-3 text-muted">
								{{ __('Webinář v kategorii <a href="%s">%s</a>', 'shp-partneri')|format(post.terms.0.link, post.terms.0.name) }}
							</div>
						{% endif %}
					</div>

					<div class="list-group-profile-item">
						<h2 class="h4">{{ __('Popis webináře', 'shp-partneri') }}</h2>
						{{ post.content }}
					</div>

				</div>

			</div>
			<div class="col-lg-4">
				{% if related_partners or post.meta('related_addons') or related_blog_posts %}
					<div class="mt-5 mt-lg-0">
						{% if related_partners %}
							<h2 class="h4 mb-3">{{ __('Související partner', 'shp-partneri') }}</h2>
							{% for post in related_partners %}
								{% include 'profile/thumbnail.twig' %}
							{% endfor %}
						{% endif %}
						{% if post.meta('related_addons') %}
							<h2 class="h4 mb-3">{{ __('Související doplňky', 'shp-partneri') }}</h2>
							{% for item in post.meta('related_addons') %}
								{% include 'thumbnail.twig' %}
							{% endfor %}
						{% endif %}
						{% if related_blog_posts %}
							<h2 class="h4 mb-3">{{ __('Související články na blogu', 'shp-partneri') }}</h2>
							{% for item in related_blog_posts %}
								{% include 'thumbnail.twig' with {long_title: true} %}
							{% endfor %}
						{% endif %}
					</div>
				{% endif %}
			</div>
		</div>

	</div>
</div>

{% endblock %}
