<a href="{{ item.url }}" class="thumbnail mb-4" target="_blank">
  <div class="thumbnail-body">
    <img class="thumbnail-image" src="{{ item.image_url }}" alt="{{ item.title }}" loading="lazy">
    <div class="thumbnail-title {% if long_title %}fs-115{% else %}text-truncate{% endif %}">{{ item.title }}</div>
    <p class="thumbnail-description mb-0">{{ item.text|striptags }}</p>
  </div>
</a>