<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top">
      <img
        {% if post.get_field('emailAddress') == comment.comment_author_email and post.thumbnail %}
          src="{{ post.thumbnail.src|resize(120, 120) }}"
        {% else %}
          src="{{ comment.avatar(120, "placeholder.jpg"|static_assets) }}"
        {% endif %}
        width="60"
        height="60"
        style="border-radius:4px"
        alt="{{ comment.comment_author }}"
      >
    </td>
    <td style="padding-left:10px;">

      <table border="0" cellspacing="0" cellpadding="0" style="padding-bottom:8px;">
        <tr>
          <td>
            {{ content }}
          </td>
        </tr>
      </table>

      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <strong>{{ comment.comment_author }}{% if post.get_field('emailAddress') == comment.comment_author_email %} ({{ __('Shoptet partner', 'wavee-theme') }}){% endif %}</strong>,&nbsp;
          </td>
          {% if comment.comment_author_url %}
            <td>
              <a style="color:#f5756c;text-decoration:none;" href="{{ comment.comment_author_url }}" target="_blank">{{ comment.comment_author_url|display_url }}</a>,&nbsp;
            </td>
          {% endif %}
          <td>
            {{ comment.date }}, {{ comment.time }}
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>